.wp-block-create-block-pf-banner {
	border: 1px dotted #777;
}

.banner-img {
	object-fit: cover;
}

.invisible-button {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	span {
		color: #777;
		&:hover {
			color: #333;
		}
	}
}